* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 width: 100vw;
 overflow-x:hidden ;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo h1 {
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  margin-left: 8px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
}

header {
  background-image: url("../images/inventory.jpg");
  /* background-size: auto; */
  height: 150px;
}

.overlay {
  background-color: rgb(165, 42, 42, 0.3);
  height: 100%;
  margin-bottom: 20px;
  padding: 20px;
}

/* .section1 h4 {
  color: rgb(212, 142, 13);
}

.section1 {
  margin: 20px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.pm {
  margin: 20px;
}

.heads1 {
  grid-column: span 2;
}

.section2 {
  padding: 30px 50px;
  background-color: rgb(240, 231, 231);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 700px;
}

.heads2 {
  width: 100%;
  margin: 10px 0 30px;
  font-family: cursive;
}

.heads2 h1 {
  font-size: 50px;
}

.heads2 p {
  font-size: 20px;
}

.blob {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

/

.blobs2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 60px 30px;
  border-radius: 10px;
  max-width: 30%;
  height: 100%;
}

.blobs2 img {
  width: 50%;
  height: 30%;
}

.blobs2 > * {
  margin: auto;
  padding-bottom: 20px;
} */

.section3 {
  margin: 50px 0;
}

.heads3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px 10px;
  font-family: cursive;
}

.heads3 h2 {
  font-size: 40px;
}

.heads3 ul {
  display: flex;
  width: 50%;
  margin: auto;
  /* margin: 30px 450px; */
}

.heads3 li {
  margin: auto;
  padding: 5px;
}

li {
  list-style: none;
}

/* Start of dropdown */

.menu .dropdown {
  display: inline;
}

.dropdown img{
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
}

.features-menu {
  display: none;
  background-color: rgb(228, 220, 220);
  border-radius: 5px;
  /* padding: 5px 30px; */
  position: absolute; /*takes it out of the code execution flow and makes it an independent element that can be place where ever we want using TOP & LEFT attribute*/
  top: 15px;
  left: -70px;
  z-index: 1; /*to place it on a layer above/below other elements */
width: 120px;
text-align: center;

}



/*Below tells us that when dropdown is hovered upon, that the FEATURE-MENU should be restyled*/
.dropdown:hover .features-menu {
  display: flex; /*makes element inline*/
  flex-direction: column; /*specifies the direction of flex - row or column*/
}

.features-menu li {
  border-bottom: 1px solid;
  padding: 10px 20px 10px 5px;
  width: 100px;
  
}

.features-menu li:last-child{
  border-bottom:none;

}

.dropdown {
  position: relative; /*zeros this element about its mother container MENU*/
}

.dropdown > span {
  z-index: 2;
  position: relative; /*zero positions this element about its mother container DROPDOWN*/
  cursor: pointer;
}

/* End of dropdown */

a {
  text-decoration: none;
  color: rgb(53, 50, 50);
}

a:hover {
  color: orangered;
  font-size: larger;
}

.active {
  color: orange;
  font-weight: bolder;
}

/* Featured Section */

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  gap: 20px;
  max-width: 100%;
  margin: 50px 100px;
  /* background-color: pink; */
}

.work {
  margin: 20px;
  text-align: center;
  font-family: sans-serif;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

footer {
  background-color: rgb(231, 185, 100);
  padding: 20px;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

footer p {
  padding: 20px;
}

.key {
  padding: 5px;
}

@media (max-width: 576px) {
  .section3 {
    margin-top: 0px;
    /* background-color: cadetblue; */
  }

  .heads3 h2 {
    font-size: 25px;
    margin-top: 20px;
  }

  .heads3 ul {
    /* display: flex; */
    margin: auto;
    padding: 0 10px;
    justify-content: center;
    font-size: 12px;
  }
  
  .featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 5px;
    /* max-width: 100%; */
    margin: 10px 0px;
    /* background-color: pink; */
  }
  
  footer {
    background-color: rgb(231, 185, 100);
    padding: 5px;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    line-height: 25px;
  }
}