*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
}

section{
    margin: 50px 0;

}

/* Section 1: Nav Dropdown implementation */
.navdropdown{
    background-color: rgb(132, 212, 208);
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    position:absolute;
    display: none;
    box-shadow: 5px 5px #292345;
    background-color: burlywood;

}

.dropdown:hover .dropdown-content{
    display: block;
}

li{
    list-style: none;
    padding: px;
}

a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    line-height: 10px;
}

li:hover{
background-color:blueviolet;
}

.sub-dropdown{
    /* position: relative; */
    /* display: inline-block; */
}

.sub-dropdown-content{
    display: none;
    position: absolute;
    left: 255px;
    width: 260px;
background-color: blueviolet;
padding: 10px 0;
}

.sub-dropdown:hover .sub-dropdown-content{
display: block;
}

/* Nav Dropdown Ends */

/* Section 2: Self changing image slider----------------- */
.wallpaper{
    height: 300px;
    background:rgb(128, 62, 0) url(../images/invoice.jpg);
    animation: swap 20s linear infinite;
}

@keyframes swap {
    0%{
        background-image: url(../images/invoice.jpg);
        background-position: center;
        background-size: cover;

    }
    20%{
        background-image: url(../images/invoice.jpg);

    }
    25%{
        background-image: url(../images/pix27.jpg);

    }
    50%{
        background-image: url(../images/pix27.jpg);

    }
    55%{
        background-image: url(../images/aquaimages/background.png);

    }
    100%{
        background-image: url(../images/aquaimages/background.png);

    }
}

/* Section 3: Card Flip  ----------------- */
.card-flip .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-flip .card{
    width: 300px;
    height: 200px;
    position: relative;
    transition: transform 3s ease-in-out;
    transform-style: preserve-3d;
}

.card-flip .card:hover{
    transform: rotateY(180deg);
}

.card-flip .both{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.card-flip .front{
    background-color: rgb(28, 128, 73);
   backface-visibility: hidden;
}

.card-flip .back{
    background-color: rgb(240, 128, 152);
    transform: rotateY(180deg);
    line-height: 25px;
}



.card-flip img{
    /* background-color: khaki; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

